/* Author Maciej Makar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, serif;
  line-height: 1.6;
  color: #fff;
  background-color: #121212;
  margin: 0;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: #121212;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 150px;
}

.header .logo img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.header .nav {
  display: flex;
  gap: 30px;
}

.header .nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', serif;
}

.header .nav a:hover {
  color: #36d07d;
}

/* FAQ Section Styling */
.faq {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
}

.faq h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.faq-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.faq-item h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.faq-item h3 span {
  color: #36d07d;
  margin-right: 10px;
}

.faq-item p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Contact Us Section Styling */
.contact {
  background-color: #eef7f3;
  padding: 40px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.contact p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-form label {
  display: block;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  display: block;
  width: 100%;
  background-color: #36d07d;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #28a864;
}
